@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* fontawesome 아이콘 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
    /* outline: 1px solid lightblue; */
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
header {
    width: 100%;
    /* position: sticky; */
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
}
/* top메뉴 css */
header .inner .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 19px;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
}
.inner .top div:last-child {
    gap: 24px;
    display: flex;
}
.title{
    background: url(/images/House-icon.png) no-repeat 0 50% / 50px 50px;
    font-size: 1.5rem;
    padding: 20px 14px 18px 58px;
    overflow: hidden;
    font-weight: bold;
}
.logo:hover{
    color: #027313;
    font-weight: bold;
}

/* nav */
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 0 0;
    /* font-weight: bold; */
    font-size: 1.3rem;
}
.firstMenu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}
.headerTmenu{
    display: none;
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 3rem;
    font-weight: 400;
}

.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:4.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/* sec메뉴 */
nav{
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 100;
    /* top: -150px; */
    left: 0;
    background: #F2EFDC;
}
nav.on{
    height: 400px;
    /* height: auto; */
}
nav .inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
nav .inner .subTitle{
    width: 1200px;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 0;
    transition: height 0.01s, opacity 0.01s;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -600px;
    opacity: 0;
}
nav.on .inner .subTitle.on{
    opacity: 1;
    height: 280px;
    transition: height 0.5s, opacity 0.5s;
}
.subTitlebox{
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}
.subTitlebox img{
    width: 260px;
}
.secMenu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
}
.secMenu li:hover{
    font-weight: bold;
    color: #027313;
    cursor: pointer;
}
.thdMenu{
    display: flex;
    gap: 10px;
    padding: 10px 0 0 0;
}
.thdMenu li{
    font-size: 1rem;
}
.thdMenu li::before{
    content:"\e5df";
}

/* 전체메뉴 */
nav.all{
    height: auto;
    transition: none;
}
nav.all .inner.all .subTitle.on{
    position: static;
    opacity: 1;
    transition: none;
    height: auto;
    /* height: 100%; */
    
    margin: 0;
}


/* main슬라이드 */
.sec1 .mainSwiper {
    width: 100%;
    height: 650px;
    padding-top: 10px;
}
.sec1 .swiper-slide img {
    width: 100%;
    height: 650px;
}
.sec1 .swiper-slide a {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    background: #FFFFFFB2;
    color: #274001CC;
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 19px;
}

/* main슬라이드 css */
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* 공지사항 & 행사/이벤트 */
.sec2 {
    background: #F8F8F8;
}
.sec2 .inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px;
}
.sec2 .left {
    width: 65%;
    height: 382px;
}
.sec2 .eventHeader {
    /* font-size: 2.06rem; */
    padding: 5px 0px 0 4px;
    background: url(/images/Readmore-icon.png) no-repeat 85% 50% / 50px 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
/* 공지사항버튼 */
.eventHeader button {
    background: #F8F8F8;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    /* justify-content: baseline; */
    height: 50px;
    font-size: 1.6rem;
    font-weight: bold;
    gap: 10px;
}
.eventHeader button::before {
    content: "\e836";
    font-size: 1.875rem;
    cursor: pointer;
    display: block;
}
.eventHeader button.on::before {
    font-size: 1.875rem;
    cursor: pointer;
    content: "\e86c";
    display: block;
}
.eventDate {
    display: none;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 29px;
    height: 328px;
}
.left .eventDate:last-child {
    display: none;
}
.eventDate.on {
    display: flex;
}
.eventDate > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}
.eventDate > div.date {
    text-align: center;
    width: 70px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}
.eventDate > div .content {
    width: 650px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    text-align: justify;
}

.eventDate h2 {
    font-size: 3.125rem;
    color: #4590E5;
}
.eventDate div.date span {
    font-size: 1.25rem;
}
.eventDate h3 {
    font-size: 1.575rem;
}
.eventDate p {
    font-size: 0.812rem;
}
/* 프로그램소개 슬라이드 */
.sec2 .right {
    width: 35%;
}
.sec2 .right > h2 {
    display: flex;
    /* background: url(/images/프로그램소개-icon.png) no-repeat 0 50% / 50px 50px; */
    font-size: 2.375rem;
    font-weight: bold;
    /* padding: 12px 14px 5px 65px; */
    overflow: hidden;
    margin-left: 42px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.sec2 .right > h2::before{
    content: "\f277";
    padding: 0 0 14px 0;
    color: #027313;
}
.programSwiper {
    width: 100%;
    height: 330px;
    padding-top: 9px;
}
.swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    word-wrap: break-word;
}
.sec2 .right .swiper-slide img {
    width: 310px;
    height: 192px;
}
/* .swiper-wrapper .swiper-slide p{
    width: 323px;
    height: 23px;
} */
.font {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    color: #6e6e6e;
}
.swiper-button-next, .swiper-button-prev {
    display: flex;
    justify-content: space-around;
    padding: 0 0 10px 0;
    top: 118px;
}

/* 찾아오시는 길 */
.sec3 .inner {
    display: flex;
    flex-flow: row wrap;
    /* height: 100%; */
    /* align-items: center; */
}
.sec3 .left {
    width: 35%;
    /* display: flex; */
    /* flex-direction: column; */
    padding-right: 10px;
}
.sec3 .left h2 {
    display: flex;
    background: url(/images/map-icon.png) no-repeat 0 50% / 50px 50px;
    font-size: 2.375rem;
    font-weight: bold;
    padding: 20px 14px 5px 65px;
    overflow: hidden;
    padding-bottom: 10px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.sec3 .left h2::after {
    content: "\2b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0f0f0fb2;
    padding: 0 0 0 73px;
}
/* sec3 여행정보 */
.sec3 .right {
    width: 65%;
}
.sec3 .right h2 {
    display: flex;
    background: url(/images/여행정보-icon.png) no-repeat 0 50% / 50px 50px;
    font-size: 2.375rem;
    font-weight: bold;
    padding: 20px 14px 5px 65px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-left: 5px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.sec3 .right h2::after {
    content: "\2b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0f0f0fb2;
    padding: 0 0 0 515px;
}


/* 여행정보 슬라이드 */
.tripSwiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.tripSwiper .swiper-slide > img {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    margin-bottom: 21px;
}
.sec3 .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    /* box-shadow: 1px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px; */
}
.sec3 .right .swiper-slide {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #BEBCBC;
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.27); */
    border-radius: 30px;
}
.sec3 .right h3 {
    font-size: 2.375rem;
}
.sec3 .right p {
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
}

.sec3 .right p:hover::after {
    content: "주소 복사";
    position: absolute;
    display: block;
    bottom: -26px;
    left: 60%;
    transform: translateX(-50%);
    padding: 4px;
    background: #53A0F8;
    color: white;
    z-index: 100;
    font-size: 0.8rem;
    border-radius: 5px;
}

/* footer */
footer {
    background: #F8F8F8;
    color: #969696;
    margin-top: 30px;
    padding: 0 0 50px 0;
}
footer .inner {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
footer .site {
    display: flex;
    justify-content: space-between;
    padding: 36px 9px;
    font-size: 1.25rem;
}
footer .site select {
    /* border: none; */
    background: #F8F8F8;
    border: 1px solid rgba(87, 87, 87, 0.5);
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 1rem;
    color: #969696;
}
footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.06rem;
}
footer .info div {
    display: flex;
    gap: 30px;
}