@charset "utf-8";
* {
    line-height: 1;
}
.inner{
    width: 100%;
    /* padding: 10px; */
    /* margin: unset; */
}
/* nav */
.nav .gnb{
    display: none;
}
nav div:last-child > button:first-child{
    display: none;
}
/* sec1 */
.sec1 .mainSwiper{
    padding-top: 0;
    height: 411px;
}
/* sec2 공지사항 */
.sec2 .left{
    width: 50%;
    order: 2;
    height: 342px;
}
.sec2 .eventHeader{
    /* background: url(/images/jwagusan/Read\ more-icon.png) no-repeat 100% 50% / 35px 35px; */
    background: unset;
}
.eventHeader button{
    padding: 0 5px;
    font-size: 1.25rem;
    gap: 4px;
}
.eventHeader button::before{
    font-size: 1.55rem;
}
.eventHeader button.on::before{
    font-size: 1.55rem;
}
.eventDate{
    gap: unset;
}
.eventDate > div{
    flex-wrap: nowrap;
}
.eventDate h2 {
    font-size: 2.18rem;
}
.eventDate div.date span {
    font-size: 0.81rem;
}
.eventDate h3 {
    font-size: 1.05rem;
}
.eventDate p {
    font-size: 0.56rem;
}
/*sec2 right 프로그램소개 */
.sec2 .right{
    width: 50%;
    order: 1;
}

.sec2 .right > h2{
    font-size: 1.6rem;
    background: url(/linaria03/images/프로그램소개-icon.png) no-repeat 0 50% / 35px 35px;
    padding: 10px 0px 5px 50px;
}
.sec2 .right .swiper-slide img{
    width: 75%;
    height: 176px;
}
.programSwiper{
    height: 285px;
}
.swiper-button-next,.swiper-button-prev{
    color: black;
    display: none;
}
.swiper-wrapper .swiper-slide{
    font-size: 0.75rem;
}
/* sec3 찾아오시는길 */
.sec3 .left{
    width: 50%;
}
.sec3 .left h2{
    background: url(/linaria03/images/map-icon.png) no-repeat 0 0 / 32px 32px;
    font-size: 1.6rem;
    padding: 3px 5px 6px 41px;
}
.map iframe{
    width: 100%;
    height: 300px;
    padding: 8px 0 0 12px;
}
.sec3 .left h2::after{
    /* padding: 0 0 0 9.06rem; */
    display: none;
}
/* sec3 여행정보 */
.sec3 .right{
    width: 50%;
    padding: 0px 0 0 7px;
    align-items: flex-start;
}
.sec3 .right h2{
    background: url(/linaria03/images/여행정보-icon.png) no-repeat 0 50% / 30px 30px;
    font-size: 1.6rem;
    padding: 5px 139px 9px 38px;
    /* gap:80px */
}
.sec3 .right h2::after{
    /* padding: 0 0 0 180px; */
    /* padding: 0; */
    /* gap: 20px; */
    display: none;
    justify-content: space-between;
    align-items: flex-start;
}
.tripSwiper .swiper-slide > img{
    margin-bottom: 5px;
}
.sec3 .right .swiper-slide{
    width: 50%;
}
.tripSwiper{
    width: 90%;
}
.sec3 .right h3 {
    font-size: 1.93rem;
}
.sec3 .right p{
    font-size: 1rem;
}
/* footer */
footer .inner{
    gap: 20px;
}
footer .site{
    font-size: 0.875rem;
}
footer .site select{
    font-size: 0.875rem;
}
footer .info{
    font-size: 0.875rem;
}