@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* fontawesome 아이콘 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
    color: #333;
    /* outline: 1px solid lightblue; */
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
header {
    width: 100%;
    /* position: sticky; */
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
}
/* top메뉴 css */
header .inner .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 19px;
    /* gap: 633px; */
    justify-content: space-around;
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
}
.inner a.logo {
    background: url(/images/House-icon.png) no-repeat 0 50% / 50px 50px;
    font-size: 1.31rem;
    font-weight: 400;
    padding: 20px 14px 5px 58px;
    overflow: hidden;
}
.inner .top div:last-child {
    gap: 24px;
    display: flex;
}
/* nav */
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    align-items: center;
    padding: 10px 0;
}
nav ul.gnb {
    display: flex;
    flex-direction: row;
    gap: 21px;
    align-items: center;
}
.nav ul.gnb li.tabButton {
    padding: 10px;
    font-size: 1.06rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    position: relative;
}

nav ul.gnb li.tabButton ul.tabBox {
    font-size: 1.06rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 140px;
    height: 380px;
    position: absolute;
    top: 40PX;
}

.nav ul.gnb > li > ul > li ul li {
    /* font-size: 0.625rem; */
    font-size: 0.75rem;
    padding: 2px 0 5px 0;
}
.nav ul.gnb > li > ul > li ul li::before {
    content: "\f111";
    font-size: 0.25rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding: 0 3px 0 0;
}
.nav ul.gnb ul.tabBox {
    width: 100%;
    /* height: 100%; */
    display: none;
    /* overflow: auto; */
}
/* .nav ul.gnb li.on ul.tabBox {
    display: flex;
} */
nav button {
    background: #53A0F8;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    color: #FFFFFFD4;
}
nav div:last-child {
    display: flex;
    align-items: center;
    gap: 8px;
}
.fa-solid {
    font-size: 30px;
}

/* 전체메뉴 */
.gnb {
    width: 100%;
    height: 100%;
}
.tabButton.on {
    /* width: 50%; */
    background: #FAFAE1;
    /* display: flex; */
    padding: 10px;
    width: 140px;
    /* height: 400px; */
}
.tabButton.on .tabBox {
    padding: 10px;
    border-radius: 15px;
    background: #FAFAE1;
    /* display: flex; */
    /* flex-direction: column; */
    width: 140px;
    height: 380px;
}
.gnb.all {
    background: #FAFAE1;
    border-radius: 15px;
    padding: 0 34px;
}
.gnb.all .tabButton {
    border-radius: 15px;
    background: #FAFAE1;
    height: 480px;

}
.gnb.all .tabButton a {
    font-weight: bold;
    font-size: 1.25rem;
}
.menu {
    font-size: 2.375rem;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
}

/* step */
.stepAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 43px;
    padding: 20px 0;
}
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px;
    gap: 13px;
}
.step h2 {
    font-size: 1.875rem;
}
.step p {
    font-size: 1.25rem;
}
/* step 버튼 */
.chk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #F2E5D5;
}
.chk button {
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.45rem;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    background: #F2E5D5;
}
.chk button::before {
    content: "\e836";
    font-size: 1.45rem;
    cursor: pointer;
    display: block;
}
.chk button.on::before {
    font-size: 1.45rem;
    cursor: pointer;
    content: "\e86c";
    display: block;
}
/* sec2 */
.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}
/* 객실 */
.sec2:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.room {
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 20px 0;
    gap: 30px 0;
}
.roomImg  img{
    width: 300px;
    height: 360px;
    /* height: 100%; */
    /* position: relative; */
    /* object-fit: cover;
    vertical-align: bottom; */
}
.roomImg  a {
    display: flex;
    justify-content: center;
    padding: 6px 23px;
    background: #1F3140;
    color: #F2EFC4;
    position: relative;
    border-radius: 5px;
    font-size: 1.25rem;
    /* cursor: pointer; */

}

.detail{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0 38px;
    gap: 25px;
    font-size: 1.25rem;
    justify-content: center;
}
.detail button {
    background: #1F3140;
    color: #F2EFC4;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.75rem;
    border-radius: 7px;
    cursor: pointer;
    /* margin-top: 22px; */
}
.price{
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}


/* 예약정보 */
.reservation{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

}

/* 달력 */
.Calendar {
    text-align: center;
    /* background: #b39c899c; */
    border: 5px solid #b39c899c;
    border-radius: 15px;
    margin: 14px 0;
}

.Calendar > thead > tr:first-child > td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.45rem;
    font-weight: bold;
    padding:10px 0;
}

.Calendar > thead > tr:last-child > td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
}

.Calendar > tbody > tr > td > p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}

.pastDay {
    color: lightgray;
}

.today {
    background-color: #F5D042;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    /* background-color: #FFFFFF; */
    cursor: pointer;
}
.futureDay:hover {
    background: #eee;
}
.choiceDay .futureDay{
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    margin: 2.5px;
    text-align: center;
}

/* 달력 버튼 */
.choiceDay .futureDay:nth-of-type(0)::before{
    content: "체크인";
    position: absolute;
    /* display: flex; */
    /* background: #1F3140; */
    background: #0A174E;
    color: #F2EFC4;
    font-size: 0.625rem;
    top: 0;
    left: 17%;
    border-radius: 50%;
}
.choiceDay:nth-of-type(1)::before{
    content: "체크아웃";
    position: absolute;
    /* display: flex; */
    background: #1F3140;
    color: #F2EFC4;
    font-size: 0.625rem;
    top: 100%;
}



/* 예약확인 */
.reservationChk{
    padding: 10px;
    
}
.reservationChk h2{
    display: flex;
    flex-direction: row;
    font-size: 2.25rem;
    text-align: center;
    /* padding: 0 0 0 10px; */
}
.reservationChk h2::before{
    content: "\f274";
    /* content: "\e614"; */
    font-size: 2.25rem;
    padding: 0 10px 0 0;
    text-align: center;
}
.reservationChk p{
    font-size: 1.7rem;
    /* font-weight: bold; */
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
.reservationChk .buttNext{
    font-size: 1.875rem;
    background: #1F3140;
    color: #F2EFC4;
    padding: 10px 108px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
}
.reservationChk .buttRetrun{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reservationChk .buttRetrun button{
    font-size: 1.875rem;
    background: #1F3140;
    color: #F2EFC4;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}
#checkIn,#checkOut,#totalAmount{
    font-weight: bold;
    font-size: 1.5rem;
    /* color: #53A0F8; */
}





/* .dayPrice,.weekPrice{
    display: none;
} */
/* .weekPrice .wp{
    display: block;
} */
