@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* fontawesome 아이콘 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
    color: #333;
    /* outline: 1px solid lightblue; */
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
header {
    width: 100%;
    /* position: fixed; */
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
}
/* top메뉴 css */
header .inner .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 19px;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(87, 87, 87, 0.5);
}
.inner .top div:last-child {
    gap: 24px;
    display: flex;
}
.title{
     background: url(/jwagusan/images/House-icon.png) no-repeat 0 50% / 50px 50px;
    font-size: 1.5rem;
    padding: 20px 14px 18px 58px;
    overflow: hidden;
}
.logo:hover{
    color: #027313;
    font-weight: bold;
}

/* nav */
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 0 0;
    font-weight: bold;
    font-size: 1.3rem;
}
.firstMenu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 3rem;
    font-weight: 400;
}

.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:4.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/* sec메뉴 */
nav{
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 100;
    /* top: 150px; */
    left: 0;
    background: #F2EFDC;
}
nav.on{
    height: 400px;
    /* height: auto; */
}
nav .inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
nav .inner .subTitle{
    width: 1200px;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 0;
    transition: height 0.01s, opacity 0.01s;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -600px;
    opacity: 0;
}
nav.on .inner .subTitle.on{
    opacity: 1;
    height: 280px;
    transition: height 0.5s, opacity 0.5s;
}
.subTitlebox{
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}
.subTitlebox img{
    width: 260px;
}
.secMenu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
}
.secMenu li:hover{
    font-weight: bold;
    color: #027313;
    cursor: pointer;
}
.thdMenu{
    display: flex;
    gap: 10px;
    padding: 10px 0 0 0;
}
.thdMenu li{
    font-size: 1rem;
}
.thdMenu li::before{
    content:"\e5df";
}

/* 전체메뉴 */
nav.all{
    height: auto;
    transition: none;
}
nav.all .inner.all .subTitle.on{
    position: static;
    opacity: 1;
    transition: none;
    height: auto;
    /* height: 100%; */
    margin: 0;
}

/* step */
.stepAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 43px;
    padding: 20px 0;
}
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px;
    gap: 13px;
}
.step h2 {
    font-size: 1.875rem;
}
.step p {
    font-size: 1.25rem;
}
/* step 버튼 */
.chk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #F2E5D5;
}
.chk button {
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.45rem;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    background: #F2E5D5;
}
.chk button::before {
    content: "\e836";
    font-size: 1.45rem;
    cursor: pointer;
    display: block;
}
.chk button.on::before {
    font-size: 1.45rem;
    cursor: pointer;
    content: "\e86c";
    display: block;
}
/* sec2 */
.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500vh;
    position: relative;
    /* align-items: center; */
}
/* 객실 */
.sec2:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.room {
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: column; */
    height: 500vh;
    align-items: flex-start;
    padding: 20px 0;
    gap: 30px 0;
}
.roomImg  img{
    width: 300px;
    height: 360px;
    /* height: 100%; */
    /* position: relative; */
    /* object-fit: cover;
    vertical-align: bottom; */
}
.roomImg  a {
    display: flex;
    justify-content: center;
    padding: 6px 23px;
    background: #1F3140;
    color: #F2EFC4;
    position: relative;
    border-radius: 5px;
    font-size: 1.25rem;
    /* cursor: pointer; */

}

.detail{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0 38px;
    gap: 25px;
    font-size: 1.25rem;
    justify-content: center;
}
.detail button {
    background: #1F3140;
    color: #F2EFC4;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.75rem;
    border-radius: 7px;
    cursor: pointer;
    /* margin-top: 22px; */
}
.option span{
    font-size: 1.58rem;
    padding: 0 3px;
}
.price{
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}


/* 예약정보 */
.reservation{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;

}

/* 달력 */
.Calendar {
    text-align: center;
    /* background: #b39c899c; */
    border: 5px solid #b39c899c;
    border-radius: 15px;
    margin: 14px 0;
}

.Calendar > thead > tr:first-child > td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.45rem;
    font-weight: bold;
    padding:10px 0;
}

.Calendar > thead > tr:last-child > td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
}

.Calendar > tbody > tr > td > p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}

.pastDay {
    color: lightgray;
}

.today {
    background-color: #F5D042;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    /* background-color: #FFFFFF; */
    cursor: pointer;
}
.futureDay:hover {
    background: #eee;
}
.choiceDay .futureDay{
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    margin: 2.5px;
    text-align: center;
}

/* 달력 버튼 */
.choiceDay .futureDay:nth-of-type(0)::before{
    content: "체크인";
    position: absolute;
    /* display: flex; */
    /* background: #1F3140; */
    background: #0A174E;
    color: #F2EFC4;
    font-size: 0.625rem;
    top: 0;
    left: 17%;
    border-radius: 50%;
}
.choiceDay:nth-of-type(1)::before{
    content: "체크아웃";
    position: absolute;
    /* display: flex; */
    background: #1F3140;
    color: #F2EFC4;
    font-size: 0.625rem;
    top: 100%;
}



/* 예약확인 */
.reservationChk{
    padding: 10px;
    
}
.reservationChk h2{
    display: flex;
    flex-direction: row;
    font-size: 2.25rem;
    text-align: center;
    /* padding: 0 0 0 10px; */
}
.reservationChk h2::before{
    content: "\f274";
    /* content: "\e614"; */
    font-size: 2.25rem;
    padding: 0 10px 0 0;
    text-align: center;
}
.reservationChk p{
    font-size: 1.7rem;
    /* font-weight: bold; */
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
.reservationChk .buttNext{
    font-size: 1.875rem;
    background: #1F3140;
    color: #F2EFC4;
    padding: 10px 108px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
}
.reservationChk .buttRetrun{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reservationChk .buttRetrun button{
    font-size: 1.875rem;
    background: #1F3140;
    color: #F2EFC4;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}
#checkIn,#checkOut,#totalAmount{
    font-weight: bold;
    font-size: 1.5rem;
    /* color: #53A0F8; */
}





/* .dayPrice,.weekPrice{
    display: none;
} */
/* .weekPrice .wp{
    display: block;
} */
